
<!DOCTYPE html>

<html>
<head>
  <!-- saved src url=(0014)about:internet -->
  <meta charset="utf-8">
  <title>סכום מספרים</title>

<style>
body{
	font-size:30px;
}

</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>  
  
<script>


$(document).ready(function(){
        $("#luci").on("click", function(){
            x = $("#yosi").val()
            x = parseInt(x)

            y = $("#moshe").val()
            y = parseInt(y)
            
            $("#sofi").val( x + y);
        })
    })
</script>

</head>
<body dir="rtl">


  
  <input id="yosi" type="text" size="20" value=""  maxlength="40" style="font-size:30px">
  <br>
  <input id="moshe" type="text" size="20" value=""  maxlength="40" style="font-size:30px">
  <br>
  

  <input type="button" id="luci" value="הפעל" style="width:80px ; heigth:50px">
  
  <input id="sofi" type="text" size="20" value=""  maxlength="40" style="font-size:30px">
  <br>

</body>
</html>