<!DOCTYPE html>

<html>
<head>
  <!-- saved src url=(0014)about:internet -->
  <meta charset="utf-8">
  <title>סכום מספרים</title>

<style>
body{
	font-size:30px;
}

</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>  
  


</head>
<body dir="rtl">

<form action="add3" method="post">
  
  <input id="yosi" name="yosi" type="text" size="20" value=""  maxlength="40" style="font-size:30px">
  <br>
  <input id="moshe" name="moshe" type="text" size="20" value=""  maxlength="40" style="font-size:30px">
  <br>
  

  <input type="submit" id="luci" value="הפעל" style="width:80px ; heigth:50px">
  
  <input id="sofi" name="sofi" type="text" size="20" value=""  maxlength="40" style="font-size:30px">
  <br>
</form>
</body>
</html>