<!DOCTYPE html>
<html>

<head>
  <!-- saved src url=(0014)about:internet -->
  <meta charset="utf-8">
  <title>סכום מספרים</title>

<style>
body{
	font-size:30px;
}

</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>  
  
<script>
$(document).ready(function() {
    $('.calculate').click(function() {
        var val1 = $('.first_val').val();
        var val2 = $('.second_val').val();
        $.ajax({
            url: "/add5",
            type: "post",
            data: {val1: val1, val2:val2},
            success: function(response) {
                console.log(response)
                $(".results").val(response["data"]);
            },
            error: function(xhr) {
              //Do Something to handle error
            }
        });
    });
});
</script>

</head>




 <body>
   <p>Input first number:</p>
   <input type='text' class='first_val'>
   <p>Input second number:</p>
   <input type='text' class='second_val'>
 
   <button type='button' class='calculate'>Calculate</button>
   <p>Result</p>
   <input type='text' class='results'>
 </body>


</html>