  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Flask_Chat_App</title>
    
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    
    <script type="text/javascript">
    
      
      var socket = io.connect('http://' + document.domain + ':' + location.port);

      
        socket.on( 'connect', function() {
        socket.emit( 'my event', {info: 'User Connected'} )
        $("input").keyup(function(){
            val1 = $( '#yosi' ).val()
            console.log('222', val1)
            socket.emit('keypress', { val1 : val1 })     

        })
        })
       
        socket.on( 'keypress_response', function( msg ) {
            console.log( "11111", msg )  
            xx = msg["val4"]
            if(xx == "red"){
                console.log( "xxx", msg )
                $("#yosi").css("color", "red");
            }
			if(xx == "black"){
				console.log( "xxx", msg )
				$("#yosi").css("color", "black");
            }
            x = msg["flag"]
            if(x){
                $("#yosi").val("")
            }
        })
      
    </script>

  </head>
  <body>
   
<form action="" method="post">
  <input id="countdown" name="countdown" type="text" size="1" value="{{ num }}"   maxlength="40" 
style="font-size:30px">
  <input id="alon" name="alon" type="text" size="60" value="{{ theText }}"  maxlength="40" 
style="font-size:30px">
  <br>
  <input placeholder="Type Here!" id="yosi" name="yosi" type="text" size="10" value="{{ nmb1 }}"  maxlength="40" 
style="font-size:30px">
  <br>
</form>
   
  </body>
  </html>