  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Flask_Chat_App</title>
    
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    
    <script type="text/javascript">

    var totalSeconds = 0;

    function setTime() {
        ++totalSeconds;
        var minutesLabel = document.getElementById("minutes");
        var secondsLabel = document.getElementById("seconds");
        secondsLabel.innerHTML = pad(totalSeconds % 60);
        minutesLabel.innerHTML = pad(parseInt(totalSeconds / 60));
    }

    function pad(val) {
        var valString = val + "";
        if (valString.length < 2) {
            return "0" + valString;
        }
        else {
            return valString;
        }
    }
    
    
    
    function startTimer(duration, display) {
        var timer = duration, seconds;
        myInterval = setInterval(function () {
            
            seconds = parseInt(timer % 60, 10);

            
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = + seconds;

            if (--timer < 0) {
                clearInterval(myInterval);
                document.getElementById("yosi").disabled = false;
                document.getElementById("yosi").focus();
                window.countup = setInterval(setTime, 1000);
            }
        }, 1000);
    }
    window.onload = function () {
        var fiveSeconds = 5,
        display = document.querySelector('#time');
        startTimer(fiveSeconds, display);
    };
      
      var socket = io.connect('http://' + document.domain + ':' + location.port);

      
        socket.on( 'connect', function() {
        socket.emit( 'my event', {info: 'User Connected'} )
        $("input").keyup(function(){
            val1 = $( '#yosi' ).val()
            console.log('222', val1)
            socket.emit('keypress', { val1 : val1 })     

        })
        })
       
        socket.on( 'keypress_response', function( msg ) {
            console.log( "11111", msg )  
            xx = msg["val4"]
            if(xx == "red"){
                console.log( "xxx", msg )
                $("#yosi").css("color", "red");
            }
			if(xx == "black"){
				console.log( "xxx", msg )
				$("#yosi").css("color", "black");
            }
            x = msg["flag"]
            if(x){
                $("#yosi").val("");
            }
            y = msg["end"]
            chars = msg["words"]
            if(y){
                document.getElementById('yosi').disabled = true;
                clearInterval(window.countup);
                minutes = document.getElementById('minutes').innerHTML;
                seconds = document.getElementById('seconds').innerHTML;
                console.log(typeof(minutes))
                time = minutes + seconds/60;
                
                wpm = (chars/time)/5;
                document.getElementById("wpm").innerHTML =  Math.ceil(wpm);

            }
        })
      
    </script>

  </head>
  <body>
   
  <div>the game starts in <span id="time">5</span> seconds!</div>
  <label id="minutes">00</label>:<label id="seconds">00</label>
  <br>
  <textarea id="alon" rows="4" cols="50" style="font-size:20px">{{ theText }}</textarea>
  <br>
  <input placeholder="Type Here!" id="yosi" name="yosi" type="text" size="10" value="{{ nmb1 }}" disabled="disabled" maxlength="40"
style="font-size:20px">
  <label id="wpm">00</label>
  <br>
   
  </body>
  </html>