  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Flask_Chat_App</title>
    
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    
    <script type="text/javascript">
    function startTimer(duration, display) {
        var timer = duration, seconds;
        setInterval(function () {
            
            seconds = parseInt(timer % 60, 10);

            
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = + seconds;

            if (--timer < 0) {
                timer = duration;
            }
        }, 1000);
    }
    
    window.onload = function () {
        var fiveSeconds = 5,
        display = document.querySelector('#time');
        startTimer(fiveSeconds, display);
    };

      
      var socket = io.connect('http://' + document.domain + ':' + location.port);

      
        socket.on( 'connect', function() {
        socket.emit( 'my event', {info: 'User Connected'} )
        $("input").keyup(function(){
            val1 = $( '#yosi' ).val()
            console.log('222', val1)
            socket.emit('keypress', { val1 : val1 })     

        })
        })
       
        socket.on( 'keypress_response', function( msg ) {
            console.log( "11111", msg )  
            xx = msg["val4"]
            if(xx == "red"){
                console.log( "xxx", msg )
                $("#yosi").css("color", "red");
            }
			if(xx == "black"){
				console.log( "xxx", msg )
				$("#yosi").css("color", "black");
            }
            x = msg["flag"]
            if(x){
                $("#yosi").val("")
            }
            y = msg["end"]
            if(y){
                document.getElementById('yosi').disabled = true;
            }
        })
      
    </script>

  </head>
  <body>
   
<form action="" method="post">
  <div>the game starts in <span id="time">5</span> seconds!</div>
  <br>
  <textarea id="alon" rows="4" cols="50" style="font-size:20px">{{ theText }}</textarea>
  <br>
  <input placeholder="Type Here!" id="yosi" name="yosi" type="text" size="10" value="{{ nmb1 }}"  maxlength="40"
style="font-size:20px">
  <input id="wpm" name="wpm" type="text" size="1" value="{{ wpm }}"   maxlength="40" 
style="font-size:20px">
  <br>
</form>
   
  </body>
  </html>